$image-path: "../../assets/cards.jpg";

.card {
  width: 100%;
  background-image: url($image-path);
  background-size: 900% 400%;

  &::after {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: (200 / 130) * 100%;
  }
}
