.round {
  height: 100%;
  padding: 10%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas:
          ". . ."
          ". trick ."
          ". my-hand .";
  justify-items: stretch;
  justify-content: stretch;

  &__my-hand {
    grid-area: my-hand;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }

  &__trick {
    grid-area: trick;
  }

  &__card {
    width: 100%;
  }
}
