.table {
  height: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
          "trumpSuit opponent2 -"
          "opponent1 trick opponent3"
          "player player player";
  justify-items: stretch;
  justify-content: stretch;

  &__trump-suit {
    padding: 2rem;
  }

  &__player {
    grid-area: player;
  }

  &__opponent {
    position: relative;

    &--1 {
      grid-area: opponent1;
    }

    &--2 {
      grid-area: opponent2;
    }

    &--3 {
      grid-area: opponent3;
    }

    &--1, &--3 {
      align-self: center;
    }
  }

  &__trick {
    grid-area: trick;
  }

}
